<div class="container mt-2 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 mb-5">
      <h3 class="border-bottom mb-3">最新の小説</h3>
      <%= render 'public/novels/home_index', novels: @recently_novels %>

      <h3 class="mt-5 mb-3 border-bottom">人気の小説（総合）</h3>
      <%= render 'public/novels/home_index', novels: @most_favorite_novels %>

      <h3 class="mt-5 mb-3 border-bottom">ランダム表示</h3>
      <%= render 'public/novels/home_index', novels: @random_novels %>
    </div>
  </div>
</div>