<div class="container mt-2 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 mb-5">
      <!--ここにcardを横並びで4つ表示させる-->
      <h3 class="border-bottom">最新の小説</h3>
      <%= render 'public/novels/home_index', novels: @recently_novels %>

      <h3 class="mt-5 border-bottom">人気の小説（総合）</h3>
      <%= render 'public/novels/home_index', novels: @most_favorite_novels %>
    </div>
  </div>
</div>