<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <h3 class="mt-3">投稿された小説</h3>
      <% @novels.each do |novel| %>
        <div class="card mb-1">
          <div class="card-body">
            <h5 class="card-title"><%= link_to novel.title, novel_path(novel) %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <% novel.tags.each do |tag| %>
                <span><%= tag.name %> </span>
              <% end %>
            </h6>
            <div>
              <span class="mr-5">いいね: </span>
              <span>コメント数: </span>
            </div>
            <p class="card-text text-right">投稿者: <%= link_to novel.user.name, user_path(novel.user) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>